*{
    padding: 0;
    margin: 0;

}

.header {
    background-color: rgb(10, 10, 10);
    padding: 1rem;
    display: grid;
    flex-direction: row;
justify-content: space-between;
align-items: center;

}
.header__logo{
    width: 100px;
height: 80px;
}

.header-secondary-container {
    -webkit-text-size-adjust: 100%;
--heightOtherBackground: 0;
color: #333;
font-style: normal;
font-weight: 400;
line-height: 1.42857143;
font-size: 1.4rem;
font-family: "Kanit";
width: 163px;
order: 2;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 4;
margin: 0 0 0 30px;
position: absolute;
right: 80px;
top: 30px;

}
.nav__barra{
    background-color: white;
}


.nav__item{
    margin-left: 16px;

 }

.logo{
    width: 10%;
}
article img{
    width: 100%;
    height: 50%;
}

nav{
    border: 2px solid rgb(85, 85, 85);
    min-height: 1rem;
    background-color: rgb(0, 238, 255);
    padding: 1rem 1rem;
    text-align: center;
}

ul li{
    display: grid;
    margin: 1rem;

}

section{
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
}

article{
overflow-y: hidden;
display: flex;
flex-direction: column;
align-items: center;
height: 40rem;
margin: 1rem;
color: white;
font-weight: 800;
width: 50%;
font-size: 1rem;
background-color: green;
border-radius: 2rem;

}
article img:hover {
    transition: .5s;
    height: 100%;
}

article h4{
    margin-top: 2rem;
}

article h5{
    margin-top: 2rem;
    text-align: center;
}

/*<div class="container"> </div>
<div class="col-12 col-md-6"></div>
para columnas y el (md) es para celulares (reso 768)-->
<!-- section class="seccion2" para seleccionar todo un sector-->
<!-- text-decoration: none
color: red 
para sacar el enlace y color 

Iframe para colocar mapa tambien*/